# <font color='green'> <center>LetsGrowMore</center></font>
# <font color='greenish'> <center>Data Science Intern</center></font>

## <font color='black'> <center><b>Task Name:<b>  Iris Flower Classification  ML project</center></font>

### <font color='orange'>About Task:</font>

#### This particular ML project is usually referred to as the "Hello World" of Machine Learning. The iris flowers dataset contains numeric attributes, and it is perfect for beginners to learn supervised ML algorithms, mainly how to load and handle data. Also, since this is a small dataset, it can easily fit in memory without requiring special transformations or scaling capabilities.

### <font color='cyan'>Author:</font>

#### DHANUSH M

### **Preprocessing**

#### **importing necessary packages**

In [95]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score

#### ***Loading Dataset***

In [115]:
iris_data=pd.read_csv("iris.csv")

In [4]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

#### **Removing Unwanted columns**

In [118]:
iris_data.duplicated().sum()

0

In [16]:
#romoving id attribute because it's not important for classification
iris_data.drop("Id",axis=1,inplace=True)

In [17]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

#### **Checking Duplicates**

In [25]:
#again checking duplicate
iris_data.duplicated().sum()

3

In [26]:
iris_data[iris_data.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
34             4.9           3.1            1.5           0.1     Iris-setosa
37             4.9           3.1            1.5           0.1     Iris-setosa
142            5.8           2.7            5.1           1.9  Iris-virginica

In [30]:
iris_data.shape

(150, 5)

#### **Removing duplicate rows**

In [32]:
#drop duplicated
iris_data.drop_duplicates(inplace=True)

In [33]:
iris_data.shape

(147, 5)

In [46]:
columns=list(iris_data.columns)
print(columns)

['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [50]:
iris_data[columns[-1]].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

#### **Label Encoding**

In [62]:
#tranform categorical data into numerical data
#applying one Label encoding for 'Species' Column
encoder=LabelEncoder()
numeric_species=encoder.fit_transform(iris_data[['Species']])

C:\Users\Dhanush m\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [63]:
numeric_species

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [64]:
iris_data['species']=numeric_species

In [65]:
iris_data['species'].unique()

array([0, 1, 2])

In [66]:
iris_data[columns[-1]].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [105]:
species=list(iris_data[columns[-1]].unique())

In [68]:
iris_df=iris_data.drop('Species',axis=1)

In [69]:
iris_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[147 rows x 5 columns]

In [75]:
iris_df=iris_df.rename(columns={'species':'Species'})

### **Train & Test Splitting**

In [76]:
#splitting train and test data
X_train,X_test,y_train,y_test=train_test_split(iris_df.drop('Species',axis=1),iris_df['Species'],test_size=0.2)

In [88]:
train=iris_df.drop('Species',axis=1)
target=iris_df['Species']

In [77]:
X_train.shape

(117, 4)

In [78]:
X_test.shape

(30, 4)

In [80]:
y_train.shape

(117,)

### **Choosing Best Model**

In [84]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [87]:
models=[LinearRegression(),LogisticRegression(),DecisionTreeClassifier(),RandomForestClassifier(),SVC(),KNeighborsClassifier()]
model_name=['LinearRegression','LogisticRegression','DecisionTreeClassifier','RandomForestClassifier','SVC','KNeighborsClassifier']

In [86]:
cv_score={}

In [92]:
for model,m_name in zip(models,model_name):
    score=cross_val_score(model,train,target,cv=5)
    cv_score[m_name]=score.mean()

print(cv_score)

C:\Users\Dhanush m\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Dhanush m\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

{'LinearRegression': 0.31811812156723906, 'LogisticRegression': 0.9590804597701149, 'DecisionTreeClassifier': 0.9521839080459771, 'RandomForestClassifier': 0.9452873563218389, 'SVC': 0.9590804597701149, 'KNeighborsClassifier': 0.9726436781609195}

In [93]:
cv_score

{'LinearRegression': 0.31811812156723906,
 'LogisticRegression': 0.9590804597701149,
 'DecisionTreeClassifier': 0.9521839080459771,
 'RandomForestClassifier': 0.9452873563218389,
 'SVC': 0.9590804597701149,
 'KNeighborsClassifier': 0.9726436781609195}

### **Iris Classification Model Creation**

In [94]:
#The above result clearly says KNN Classifier is the best for this iris dataset
#create KNN model
knn=KNeighborsClassifier()
iris_model=knn.fit(X_train,y_train)

In [98]:
#checking accuracy
predict=iris_model.predict(X_test)

In [99]:
accuracy_score(y_test,predict)

0.9666666666666667

### **Prediction**

In [112]:
#finally our iris model is ready
#                [['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
pred=iris_model.predict([[1,5.2,3.5,0.2]])
print(f'The predicted species is : {species[pred[0]]}')

The predicted species is : Iris-setosa

C:\Users\Dhanush m\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

 ### *<font color='green' > <center>Thank You</center></font>*